<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<th:block th:replace="~{layout/main::page(title='Выпускной проект по курсу Topjava', appMain=~{::main},
descr='Выпускной проект по курсу Topjava: Голосование за рестораны: REST API с использованием Spring-Boot/Spring Data JPA без внешнего интерфейса')}">
    <main>
        <div class="text-center">
            <h3>Голосование за рестораны<br>
                Выпускной проект по <a href="https://javaops.ru/view/topjava" title="_blank" class="c4">курсу Topjava</a>
            </h3>
            <img src="/static/img/title/topjava.png" class="p-1 my-4 border rounded fit">
            <h5><a href="/swagger-ui">REST API documentation</a><br>
                <a href='/logout'>Выход</a>
            </h5>
        </div>
    </main>
</th:block>
</html>